/*body*/
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://www.googleapis.com/webfonts/v1/webfonts?key=YOUR-API-KEY');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
:root{
    --background-color :#A58BFF;
    --sideBar-background:rgba(255, 255, 255, 0.1);
    --word-color: #fff;
    --colorBlack:black;
    --colorWhite:white;
    --colorSection1:#0C0032;
    --colorSection2:#190061;
    --colorSection3:#240090;
    --colorSection4:#3500D3;
    --colorSection5:#282828;
    --fontfamily1:'Alumni Sans Pinstripe', Courier, monospace;
    --fontfamily2:'Aboreto', Courier, monospace;
    --fontfamily3:'Silkscreen', Courier, monospace;
    --swiper-slider-color: #fff;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Montserrat', Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-color: var(--colorSection1);
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white ; 
    border-radius: 10px;
  }
  
  /* Handle on hover */ 
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }


#payment-container{
	position: static;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

#payment-container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("../clientImage/EventPicture/Pictures/payment.jpg") no-repeat center;
	background-size: cover;
	filter: blur(25px);
	z-index: -1;
}

/*visa and mastercard*/
.cards{
    display:flex;
    justify-content: center;
}

div.visa, div.mastercard{
    display: flex;
}

div.visa input, div.mastercard input{
    display: none;
}

div.visa label.visa_css{
    cursor: not-allowed;
    background-image: url("../clientImage/EventPicture/Pictures/visa.png");
    background-repeat: no-repeat;
    margin: 0 20px;
    background-size: cover;
    height: 50px;
    width: 80px;
    border-radius: 10px;
}

div.mastercard label.mastercard_css{
    cursor: not-allowed;
    background-image: url("../clientImage/EventPicture/Pictures/master.png");
    background-repeat: no-repeat;
    margin: 0 20px;
    background-size: cover;
    height: 50px;
    width: 80px;
    border-radius: 10px;
}

/*picture and form box*/
.form-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 10px 0px 19px 5px rgba(0,0,0,0.19);
}

/*for picture*/
.left{
	background: url("../clientImage/EventPicture/Pictures/payment.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

/*for form*/
.right{
	padding: 25px 40px;
}

.right h2{
    text-align: left;
}

.right h3{
    text-align: left;
    font-size: smaller;
    margin: 10px;
}

/*input field*/
h2{
	position: relative;
	padding: 0 0 5px;
	margin-bottom: 10px;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: smaller;
	margin-bottom: 15px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

/*buttons*/
.button{
    display: inline-block;
    justify-content: center;
	width: 50%;
    margin: .5rem;
	padding: .5rem 0.5px;
	background-color: navy;
    border: none;
	color: #fff;
	font-size: 1.1rem;
	border: none;
    border-radius: 10px;
	cursor: pointer;
	transition: .3s;
}

.button:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}